{% extends 'base2.html' %}
{% load crispy_forms_tags %}

{% block title %}Sistema Marmitex - Login{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card auth-card" style="margin-top: 30%;">
                <div class="card-body">
                    <h4>
                        <span style="display: flex !important; justify-content: center !important;">
                       Login do Sistema Marmite
                        <span class="material-icons">
                            restaurant_menu
                        </span>
                        </span>
                    </h4>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </form>
                    <p class="change-form-p">Não possui uma conta? <a href="/accounts/register">Clique aqui</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}