{% extends 'base1.html' %}

{% block title %}Sistema Marmitex - Gerenciamento de Clientes{% endblock %}

{% block content %}
<!-- CONTEÚDO -->
<div class="container-fluid">
    <div class="content">
        <div class="row mb-3 mt-5">
            <div class="col-xl-3 col-md-6">
                <div class="card  text-white mb-4" style="background: 	#505050; ">
                    <div class="card-body">Clientes cadastrados</div>
                    <div class="card-footer" style="font-size: 30px;">
                        {{totalclientes}}
                    </div>
                 </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card  text-white mb-4" style="background: 	#505050; ">
                    <div class="card-body">Clientes últimos 30 dias</div>
                    <div class="card-footer" style="font-size: 30px;">
                        {{totalclientestrintadias}}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card  text-white mb-4" style="background: 	#505050; ">
                    <div class="card-body">Cliente fidelidade</div>
                    <div class="card-footer">
                        <div style="font-size: 30px;">Albert Johnson</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card  text-white mb-4" style="background: 	#505050; ">
                    <div class="card-body">Cliente a mais tempo sem comprar</div>
                    <div class="card-footer">
                        <div style="list-style: none; font-size: 30px;">
                            Gary Macray
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/adicionar-cliente" class="btn btn-success btn-sm active add-cliente" role="button" aria-pressed="true">
            Novo Cliente <span class="material-icons material-add ">add</span>
        </a>
        {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
            <li{% if messages.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
        {% endif %}
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>Lista de clientes</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered display tabela_pagina" id="tabela_pagina" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Telefone</th>
                                <th>Data de cadastro</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in listaclientes%}
                            <tr>
                                <td>{{i.client_name}}</td>
                                <td>{{i.client_email}}</td>
                                <td>({{i.client_phone.phone_ddd}}) {{i.client_phone.phone_number}}</td>
                                <td>{{i.created_at}}</td>
                                <td class="d-flex justify-content-center">
                                    <a href="/ver-cliente/{{i.id}}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">
                                        <span class="material-icons">remove_red_eye</span>
                                    </a>
                                    <a href="/editar-cliente/{{i.id}}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">
                                        <span class="material-icons">edit</span>
                                    </a>
                                    <a href="/deletar-cliente/{{i.id}}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">
                                        <span class="material-icons">clear</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Telefone</th>
                                <th>Data de cadastro</th>
                                <th>Ações</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIM DO CONTEÚDO -->
{% endblock %}
