{% extends 'base1.html' %}
{% load crispy_forms_tags %}

{% block title %}Sistema Marmitex - Editar dados do cliente{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
            <h3>
            Editar dados do cliente
            </h3>
            <form action="" method="POST" class="add-client-form">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value="Atualizar">
            </form>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
{% endblock %}